*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #756E97;
}

.form{

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
    margin:5rem 0rem;

}

.form__box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FADECF;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}


.form__img{
    background: url("/img/productos/responsive.webp");
    background-size: cover;
    height: 100%;
}

.form__elements{
    padding: 25px 40px;
}

h2{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #756E97;
}

.form__field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: white;
    padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.form__field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.form__button{
	width: 100%;
	padding: 0.5rem 1rem;
	color: #fff;
    background-color: #756E97;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.boton:hover{
    background-color: #946FA3;
}

.form__field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.form__box{
		grid-template-columns: 1fr;
	}
	.form__img{
		height: 200px;
	}
}

